/* Write your CSS here */
.button-list-item {
  list-style-type: none;
}
.button {
  background-color: transparent;
  color: #7b8794;
  font-size: 25px;
  font-family: 'Roboto';
  font-weight: bold;
  height: 40px;
  width: 120px;
  cursor: pointer;
  outline: none;
  border: 0px;
}
.active-tab-button {
  border-bottom: 2px solid #2563eb;
  color: #2563eb;
}
